{% extends 'base.html' %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
                {% for car in cars %}
                <div class="col">
                    <div class="card h-100">
                        {% if car.image %}
                        <img src="{{ car.image.url }}" class="card-img-top" alt="...">
                        {% else %}
                        <img src="https://www.shutterstock.com/image-vector/image-not-found-failure-network-260nw-2330163829.jpg" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <a href="{% url 'detail' car.id %}">
                                <h5 class="card-title">{{ car.name }}</h5>
                            </a>
                            <p class="card-text">{{ car.number }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ car.car_owner }}</small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
{% endblock content %}